[color]
	ui = true
[color "status"]
	untracked = white
[color "branch"]
	remote = yellow
[core]
	editor = nvim
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[alias]
	dt = difftool
{{ if hasKey . "git" -}}
[user]
{{ if hasKey .git "username" -}}
{{ "\t" }}name = {{ .git.username }}
{{ end -}}
{{ if hasKey .git "email" -}}
{{ "\t" }}email = {{ .git.email }}
{{ end -}}
{{ end -}}
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
