[color]
	ui = true
[color "status"]
	untracked = white
[color "branch"]
	remote = yellow
[core]
	editor = nvim
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[alias]
	dt = difftool
{{ if hasKey . "git" -}}
[user]
{{ if hasKey .git "username" -}}
{{ "\t" }}name = {{ .git.username }}
{{ end -}}
{{ if hasKey .git "email" -}}
{{ "\t" }}email = {{ .git.email }}
{{ end -}}
{{ if hasKey .git "signingKey" -}}
{{ "\t" }}signingkey = {{ .git.signingKey }}
{{ end -}}
{{ end -}}
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
{{ with .preferences }}
{{ if .preferences.use1Password }}
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
{{ end -}}
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
