[color]
	ui = true
[color "status"]
	untracked = white
[color "branch"]
	remote = yellow
[core]
	editor = nvim
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[alias]
	dt = difftool
[user]
	name = {{ .chezmoi.username }}
	email = {{ index .email (index .environment .chezmoi.username) }}
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = main

