#!/usr/bin/env bash

cd "{{ .chezmoi.sourceDir }}/../setup"

function run_setup_script {
  for script in $(ls $1/*.*sh)
  do
    echo -e "Running $script"
    $script
  done
}

{{ if eq .chezmoi.os "linux" -}}
  run_setup_script "linux"
{{ else if eq .chezmoi.os "darwin" -}}
  run_setup_script "macos"
{{ else -}}
  echo "Unsupported OS."
{{ end -}}
